<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- <tr class="data-row">
        <td>GPS 938</td>
        <td>Positioning</td>
        <td>true</td>
        <td>HIGH</td>
        <td>2001-11-01</td>
    </tr> -->

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<tr *ngFor="let satellite of satellites" [class.warning] = "satellite.isSpaceDebris()" >
    <td>{{satellite.name}}</td>
    <td>{{satellite.type}}</td>
    <td>{{satellite.launchDate}}</td>
    <td>{{satellite.orbitType}}</td>
    <td>{{satellite.operational}}</td>
</tr>
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->
    <!-- <td>[class.warning] = satellite.isSpaceDebris()</td> -->
</table>
